.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 750px;
}
.avatar-img {
  height: 200px;
  margin-top: 5em;
  border-radius: 10em;
  border: solid 5px white;
}
.banner-text {
  background-color: black;
  opacity: .8;
  width: 65%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}
.landing-bar {
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  width: 80%;
  margin: auto;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding-bottom: 20px;
  transition: 0.25s;
}
.social-links i:hover {
  transform: scale(1.1);
}

/* Projects Page*/
.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Resume Page */

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
  border-radius: 10px;
}
.resume-left-col {
  text-align: center;
  padding: 2em;
}
.react-pdf__Page__canvas {
  width: 100%;
  margin: auto;
}
.resume-pdf {
  
}

/* Contacts Page */
.contact-form {
  width: 50%;
  margin: auto;
  margin-top: 5em;
  text-align: center;
  padding: 2em;

  border-radius: 3em;
}
.contact-form h2 {
  font-size: 3em;
}
.color-bar {
  height: 6px;
  animation: d 4s linear infinite;
  background-repeat: repeat-x;
  background-size: 133vw 4px;
  margin-bottom: 5em;
}
@keyframes d {
  0%   {background-color: #29bfff;}
  33%  {background-color: #a231ff;}
  66%  {background-color: #0deccd;}
  100%  {background-color: #29bfff;}
}

/* media queries*/
@media (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1050px) {
  .resume-right-col {
    display: none;
  }
}
@media (max-width: 650px) {
  .avatar-img {
    height: 150px;
  }
  .banner-text h1 {
    font-size: 44px;
  }
  .social-links i {
    font-size: 3em;
  }
  .contact-form h2 {
    font-size: 2em;
  }
}